/* Add application styles & imports to this file! */
* {
  margin: 0%x;
  padding: 0%;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background-image: url(https://image.freepik.com/free-vector/abstract-geometric-shapes-colorful-modern-pattern_38782-838.jpg);
}
.nav {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
  align-items: center;
  min-width: 8vw;
  box-shadow: 1px 2px 7px 1px;
}
.nav1 {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  box-shadow: 1px 2px 7px 1px;
}
.logo {
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  letter-spacing: 5px;
  font-size: 22px;
}
.container {
  display: grid;
  grid-template-columns: 50vh 50vh;
  grid-template-rows: 70vh;
  background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 1px 2px 7px 1px;
  justify-content: space-around;
  margin: 30px;
}
.box1 {
  margin-left: 0.5in;
  margin-top: 1.5in;
  margin-bottom: 0.5in;
  text-align: left;
  justify-content: space-around;
  align-items: center;
  
}
.box2 {
  margin-left: 0.5in;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  text-align: left;
  background-image: url(https://i.pinimg.com/originals/8d/67/45/8d674504d5298d06a54694afca83ae5e.png);
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
}
.img1 {
  margin-left: 8%;
  padding: 0%;
  height: 57vh;
  width: 40vw;
  display: flex;
  position: relative;
}
.name1 {
  font-size: 65px;
  font-weight: 200px;
  line-height: 80%;
}
h1 {
  font-size: 5vh;
}
h2 {
  font-size: 3vh;
}
